node_modules
# Keep environment variables out of version control
dist

/src/generated/prisma
/src/generated
generated

tsconfig.tsbuildinfo
*.tsbuildinfo

# env files
.env*
!.env.example
!.env.sample

# macOS
.DS_Store
**/.DS_Store
